
.navbar {
    background-color: rgb(19, 75, 19);
    color:white;
}

.navbar-brand {
    margin-left: 8%;
}

.the-nav {
    margin-left: 15%;
}

.dropdown-menu {
    background-color: rgb(11, 39, 11);
    color: white;
}

