
.navbar {
    background-color: rgb(221,211,115);
    /* color:white; */
}

.navbar-brand {
    margin-left: 10vw;
}

.the-nav {
    margin-left: auto;
}

.dropdown-menu {
    background-color: rgb(249,247,228);
    color: black;
}

.nav-drop-item:hover {
    background-color: rgb(222, 219, 205);
}

