
body {
    background-image: url('../bg-color.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #014421;
}

figcaption {
    color: #7D6907;
    font-style: italic;
}