.App {
  text-align: center;
  min-height: 100vh;
  position:relative;
}

.carousel-item img {
  height: 400px;
  width: 90%;
}

#carouselExampleIndicators{
  padding: 10px;
}

#homepage-text{
  text-align: center;
}

.carousel {
  background-color: #0144214a;
  padding: 1rem 0;
}

.carousel-caption {
  background-color: #00000083;
  padding: 0 !important;
  margin: 0 !important;
}